.DS_Store
*.attr

# bundler config.
.bundle

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal
config/database.yml

# Ignore all logfiles and tempfiles.
log/*.log
tmp
public/uploads
public/assets

# Ignore sprite image
s-*.png

# rbenv
.ruby-version


# titanium build files
build.log
build
npm-debug.log
.map

# alloy project
Resources
environment.js

# apk files
*.apk
